	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>Darshan Registration</title>
	</head>
	<body>
		<div class="container">
		<div class="ticket basic">
			<p>Admit One</p>
		</div>

		<div class="ticket airline">
			<div class="top">
				<h1>दर्शन रशीद</h1>
				<div class="big">
					<img src="ram-logo.png">
					
				</div>
				

				<div class="top-right-img">
					<img src="ram.png">
				</div>
			</div>

			<div class="add-space">
				<img src="footer-add.jpg">
			</div>
			<div class="bottom">
				<div class="bg-light">
				<div class="column">
				
					<div class="row row-2 profile align-item-c">
						<img src="profile.jpg">
						<p><span>Name:</span>Raaz Aryan</p>

						<p><span>DOB: </span>15-10-XXXX</p>
					</div>

					<div class="row row-3 mt-3">
						<p><span>Mobile:</span>+91 88104XXXXX</p>

						<p><span>Email ID: </span>alvi*****@gmail.com</p>
					</div>

					<div class="row row-3 mt-3">
						<p><span>Gender:</span>Male</p>

						<p><span>Booking ID: </span>895XXXX</p>
					</div>

					<div class="row row-3 mt-3">
						<p><span>Add:</span>1 Hebbal kempapura, xxxxxx</p>

						<div class="bar-code">
						<img src="qr.png">
						</div>
					</div>
				</div>

				<div class="column">
				
					<div class="row row-2 profile align-item-c">
						<img src="profile.jpg">
						<p><span>Name:</span>Raaz Aryan</p>

						<p><span>DOB: </span>15-10-XXXX</p>
					</div>

					<div class="row row-3 mt-3">
						<p><span>Mobile:</span>+91 88104XXXXX</p>

						<p><span>Email ID: </span>alvi*****@gmail.com</p>
					</div>

					<div class="row row-3 mt-3">
						<p><span>Gender:</span>Male</p>

						<p><span>Booking ID: </span>895XXXX</p>
					</div>

					<div class="row row-3 mt-3">
						<p><span>Add:</span>1 Hebbal kempapura, xxxxxx</p>

						<div class="bar-code">
						<img src="qr.png">
						</div>
					</div>
				</div>
				</div>

			<div class="add-space1">
				<img src="footer-add1.jpg">
				</div>
				

				<div class="footer">
					<p>Thanks</p>
				</div>
			</div>

			
		</div>

		
		</div>
	</body>
	</html>